/*body {
    margin: 0px;
    font-family: 'Cedarville Cursive', cursive;
  }
  
  div#background {
    height: 700px;
    width: 100%;
    background-image: url(http://garchitecture.ca/php/images/headers/wood.jpg);
    padding-top: 20px;
  }
  
  div#gallery {
    width: 800px;
    margin: auto;
  }
  
  
  #background img {
    height: 150px;
    margin: 0px;
  }
  
  #background figure {
    float: left;
    position: relative;
    background-color: white;
    text-align: center;
    font-size: 15px;
    padding: 10px;
    margin: 10px;
    box-shadow: 1px 2px 3px black;
  }
  
  figure.pic1 {
    -webkit-transform : rotate(-10deg);
    z-index: 1;
  }
  
  figure.pic2 {
    -webkit-transform : rotate(15deg);
    z-index: 2;
  }
  
  figure.pic3 {
    -webkit-transform : rotate(-25deg);
    z-index: 1;
  }
  
  figure.pic4 {
    -webkit-transform : rotate(5deg);
    z-index:1;
  }
  
  figure.pic5 {
    -webkit-transform : rotate(5deg);
    z-index:1;
  }
  
  figure.pic6 {
    -webkit-transform : rotate(-8deg);
    z-index:1;
  }
  
  figure.pic7 {
    -webkit-transform : rotate(2deg);
    z-index:1;
  }
  
  figure.pic8 {
    -webkit-transform : rotate(-13deg);
    z-index:1;
  }
  
  figure.pic9 {
    -webkit-transform : rotate(-7deg);
    z-index:1;
  }
  
  figure.pic10 {
    -webkit-transform : rotate(2deg);
    z-index:1;
  }
  
  figure.pic11 {
   -webkit-transform : rotate(-3deg);
    z-index:1;
  }
  
  #background figure:hover {
    box-shadow: 5px 10px 100px black;
    -webkit-transform: scale(1.1,1.1);
    z-index: 20;
  }
  */
  

  ul{
    position: absolute;
    margin-top: 15%;
    list-style-type: none;
    width:70%;
    height:100%;
    box-shadow:inset 0 0 1px rgba(0,0,0,.05);
  }
  li{
    position:relative;
    float:left;
    width:33.33%;
    height:50%;
  }
  li a img{
    position:absolute;
    width:70%;
    margin:15%;
    background:#ddd;
    border-radius: 20px;
    box-shadow:0 0 1px 1px rgba(0,0,0,.2);
    transform:rotate(4deg);
    transition:all .5s ease-in-out;
    -webkit-transition:all .5s ease-in-out;
    -moz-transition:all .5s ease-in-out;
    -o-transition:all .5s ease-in-out;
    -ms-transition:all .5s ease-in-out;
  }
  li a img:hover{
    width:90%;
    height:90%;
    margin:5%;
    transform:rotate(0deg);
    background:#f5f5f5;
    box-shadow:0 0 10px 1px rgba(0,0,0,.5);
  }
  
  