.footer-page{
    background-color: antiquewhite;
    position: fixed;
    padding: 1%;
    color: white;
    width: 100%;
    bottom: 0;
}

.footer-page p{
    display: inline-block;
    font-weight: bold;
}

.footer-page p:first-child{
    color: rgb(160, 146, 146);
    margin-right: 1%;
}

.footer-page a{
    color: white;
    text-decoration: none;
}