@font-face {
    font-family: "Finger_Paint";
    src:
      local("Trickster"),
      url("../fonts/Finger_Paint/FingerPaint-Regular.ttf") format("TrueType");
  }

  * {
    box-sizing: border-box; 
  }
/*header {
    background-color: rgb(183, 169, 145);
} */
  .curve {
    color: rgb(160, 146, 146);
    position: relative;
    overflow: hidden;
    text-align: center;
    padding: 3rem 2rem;
    width: 80%;
    margin-right: 10%;
    z-index: 2;
    
    &::before {
      content: '';
      display: block;
      background-image: url("/images/ptiche.jpg");
      /*background-color: rgb(183, 169, 145);*/
      /*background: radial-gradient(ellipse at center, rgba(124, 115, 115, 0.1) 25%,rgba(183, 169, 145) 100%);*/
      position: absolute;
      left: 50%;
      bottom: 0;
      transform: translateX(-50%);
      box-shadow: 0px 0px 9px 0px rgb(183, 169, 145), -7px -7px 10px #6f71740f;
      border-radius: 150vw;
      width: 300vw;
      height: 300vw;
      z-index: -1;
    }
  }
  
.more {
    float: right;
    position: relative;
    padding: 1rem 2rem;
    text-align: right;
    width: 80%;
    margin-right: 10%;
}

.home {
    font-size: 2em;
    font-family: "Finger_Paint", Times, serif;
    color: white;
    margin-bottom: 10px;;
}

.home:hover{
    padding: 10px;
    border-bottom: 3px solid white;
}

header h1 a{
    color: white;
    text-decoration: none;
}

header nav div{
    display: inline-block;
}

header nav a {
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    padding: 20px 20px;
    border-right: 1px solid #f4f4f4;
    text-decoration: none;
  }
  
header nav a:hover {
    background-color: rgb(183, 169, 145);
}



@media (min-width: 48em) {
    header>div{
        position: relative;
        float: right;
    }
    header nav a {
        position: relative;
        float: right;
        padding: 20px 30px;
    }
}
/*header {
    width: 80%;
    background-color: rgb(183, 169, 145);
    width: 100%;
    overflow: hidden;
    color: white;
}

.home {
    font-size: 1.2em;
    font-family: "Finger_Paint", Times, serif;
    color: white;
    margin-bottom: 10px;
}

header {
    position: relative;
    padding: 10px;
}

header h2 {
    float: left;
    color: white;
    margin-bottom: 20px;
    margin-left: 20px;
}

header nav {
    font-size: auto;
    font-family: sans-serif;
    position: absolute;
    right: 0;
    bottom: 8px;
}

header nav>* {
    float: left;
}

header a{
    color: white;
    text-decoration: none;
}

footer {
    padding: 0.5em;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
}

nav a {
    margin: 0 0.5em;
}

nav a:hover {
    cursor: pointer;
    color: rgb(82, 133, 139);
    font-weight: bolder;
}

.home:hover {
    color: rgb(82, 133, 139);
}

#user,
#guest {
    margin: 0;
    padding: 0;
}
*/