#login-page {
    border: 1px solid red;
    width: 40%;
    height: auto;
    border-radius: 20px;
    padding: 40px;
    box-sizing: border-box;
    text-align: center;
    box-shadow: 0px 0px 18px 0px #32485e, -7px -7px 10px #6f71740f;
}

#login-page{
    display: inline-flex;
    align-self: center;
    margin-top: 30px;
}

#login-page form{
    text-align: center;
}

#login-page form label{
    display: block;
    margin-top: 20px;
    margin-bottom: 0;
}

#login-page form input[type="submit"]{
    display: block;
    padding: 20px;
    font-size: 20px;
    font-weight: bold;
    margin-left: 30px;
    margin-top: 20px;
    text-align: center;
    padding-bottom: 30px;
}

#login-page form input{
    background: #ecf0f3;
    padding: 10px;
    text-align: center;
    height: 20px;
    margin-top: 0.7em;
    border-radius: 30px;
    box-shadow: inset 2px 2px 2px #c0c2c5, inset -2px -2px 2px white;
}

